configuration {
	show-icons: true;
	terminal: "kitty";
	run-shell-command: "{terminal} -e {cmd}";
	// icon-theme: "Flatery-Dark";
	icon-theme: "Grubox Plus Dark";
	sidebar-mode: true;
}

@theme "theme.rasi"
