config/mpd/log
config/mpd/pid
config/mpd/state
config/mpd/database
config/nvim/.netrwhist
config/nvim/dein
config/mpv/watch_later
config/polybar/access.token
config/awesome/freedesktop
config/awesome/lain
config/awesome/themes
config/awesome/wallpapers
*.log
*.elc
.git/
.hg/
.hgignore
config/tmux/plugins/
